<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <h2><%= post.plantName %></h2>
      <span class="row flex-nowrap">
        By: <a href="/feed/<%= post.user %>"><%= postUser.userName %></a>
      </span>
      <div class="text-center border border-success">
        <img class="img-fluid" src="<%= post.image%>" width="70%"/>
      </div>

      <section class="row justify-content-between text-center m-2">
        
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-success fa fa-heart" type="submit"></button>
        </form>

        <%if(likeList.length >= 4){ %>
        <h3 class="col-3"><%= likeList.slice(0,likeList.length).join(', ') %> and <%= likeList.length - likeList.slice(0,likeList.length).length %> others want this</h3>

        <% } else if(likeList.length === 0) { %>
          <h3 class="col-3 invisible">No one wants this yet</h3>

        <% } else if(likeList.length === 1) { %>
          <h3 class="col-3"><%= likeList[0]%> wants this</h3>

          <% } else { %>
            <h3 class="col-3"><%= likeList.join(', and ') %> want this</h3>
          <%}%> 
 
        <%if(post.user == user.id){ %>

        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-1" 
        >
          <button class="btn btn-success fa fa-trash" type="submit"></button>
        </form>

        <% } else { %>
          <span class="col-1 invisible"></span>
        <%}%> 

      </section>
    </div>
    <div class="row mt-5 text-center">
      <p><%= post.info %></p>
    </div>

    <div class="container">

      
        <div class="mb-5">
          <h2>Add a Comment</h2>
          <form action="/comment/createComment/<%=post.id%>" method="POST" class="">
            <input type="text" name="comment" required class="p-1">
            <button class="btn btn-success" type="submit">Comment</button>
          </form>
        </div>
        


        
        <% for (let i=0; i < comment.length; i++) {%>


          <ul class="list-group">
            <li class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%=comment[i].user.userName %></h5>
                <small>
                  <%if(comment[i].user._id==user.id){ %>
                    <form action="/comment/deleteComment/<%=comment[i]._id%>?_method=DELETE" method="POST" class="badge">
                      <button class="btn btn-success fa fa-trash" type="submit"></button>
                    </form>
                    <%}%>
                </small>
              </div>
              <p class="mb-1 text-wrap text-break"> <%=comment[i].comment%></p>

            </li>
          </ul>
          
        <%}%>

              
                
                  


    </div>

    <div class="col-6 mt-5 text-center">
      <a class="btn btn-success" href="/profile">Return to Profile</a>
      <a class="btn btn-success" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>



<%- include('partials/footer') -%>


